:root{
    --skatch_red:#DC3545;
    --skatch_green:#28A745;
    --skatch_yellow:#FFC107;
    --skatch_blue:#007BFF;
    --skatch_white:#ffffff;
    --skatch_gray:#6C757D;
}

*{
    margin:0;
    padding:0;
}



.BadgeButton{
    padding:8px 12px;
    border-radius: 4px;
    outline:none;
    cursor:pointer;
    display: inline-block;
    margin:4px;
}

.BadgeSkatchRedBg{
    border:2px solid var(--skatch_red);
    background-color: var(--skatch_red);
    color:var(--skatch_white);
}

.BadgeSkatchGreenBg{
    border:2px solid var(--skatch_green);
    background-color: var(--skatch_green);
    color:var(--skatch_white);
}
.BadgeYellowBg{
    border:2px solid var(--skatch_yellow);
    background-color: var(--skatch_yellow);
    color:var(--skatch_white);
}
.BadgeSkatchBlueBg{
    border:2px solid var(--skatch_blue);
    background-color: var(--skatch_blue);
    color:var(--skatch_white);
}
.BadgeSkatchGrayBg{
    border:2px solid var(--skatch_gray);
    background-color: var(--skatch_gray);
    color:var(--skatch_white);
}
.BadgeSkatchRedValue{
    color : var(--skatch_red);
    background:var(--skatch_white);
    padding:2px 6px;
    border:1px solid var(--skatch_white);
    border-radius:50%;
}

.BadgeSkatchGreenValue{
    color : var(--skatch_green);
    background:var(--skatch_white);
    padding:2px 6px;
    border:1px solid var(--skatch_white);
    border-radius:50%;
}

.BadgeSkatchYellowValue{
    color : var(--skatch_yellow);
    background:var(--skatch_white);
    padding:2px 6px;
    border:1px solid var(--skatch_white);
    border-radius:50%;
}

.BadgeSkatchBlueValue{
    color : var(--skatch_blue);
    background:var(--skatch_white);
    padding:2px 6px;
    border:1px solid var(--skatch_white);
    border-radius:50%;
}
.BadgeSkatchGrayValue{
    color : var(--skatch_gray);
    background:var(--skatch_white);
    padding:2px 6px;
    border:1px solid var(--skatch_white);
    border-radius:50%;
}




/*Second Item*/
.ElipseBadge{
    text-decoration: none;
    padding:6px 12px;
    border-radius: 25px;
    display: inline-block;
    margin:4px;
    -webkit-transition: background-color 1.5s ease-out;
    -moz-transition: background-color 1.5s ease-out;
    -o-transition: background-color 1.5s ease-out;
    transition: background-color 1.5s ease-out;
}

.ElipseBadgeRedBg{
    background-color: var(--skatch_white);
    border: 1px solid var(--skatch_red);
    color: var(--skatch_red);
}

.ElipseBadgeGreenBg{
    background-color: var(--skatch_white);
    border: 1px solid var(--skatch_green);
    color: var(--skatch_green);
}

.ElipseBadgeYellowBg{
    background-color: var(--skatch_white);
    border: 1px solid var(--skatch_yellow);
    color: var(--skatch_yellow);
}

.ElipseBadgeBlueBg{
    background-color: var(--skatch_white);
    border: 1px solid var(--skatch_blue);
    color: var(--skatch_blue);
}
.ElipseBadgeGrayBg{
    background-color: var(--skatch_white);
    border: 1px solid var(--skatch_gray);
    color: var(--skatch_gray);
}

.ElipseBadgeRedBg:hover{
    background-color: var(--skatch_red);
    color: var(--skatch_white);
}

.ElipseBadgeGreenBg:hover{
    background-color: var(--skatch_green);
    color: var(--skatch_white);
}

.ElipseBadgeYellowBg:hover{
    background-color: var(--skatch_yellow);
    color: var(--skatch_white);
}

.ElipseBadgeBlueBg:hover{
    background-color: var(--skatch_blue);
    color: var(--skatch_white);
}
.ElipseBadgeGrayBg:hover{
    background-color: var(--skatch_gray);
    color: var(--skatch_white);
}