:root{
    --skatch_red:#DC3545;
    --skatch_green:#28A745;
    --skatch_yellow:#FFC107;
    --skatch_lightyellow:#FFF3CD;
    --skatch_blue:#007BFF;
    --skatch_white:#ffffff;
    --skatch_gray:#6C757D;
    --skatch_lightred:#F8D7DA;
    --caribbean_green:#2EE59D;
    --caribbean_lightgreen:rgba(46, 229, 157, 0.4);
    --skatch_lightblue:#CCE5FF;
    --skatch_lightgray:#D6D8D9;
    --skatch_black : #000000;
    --skatch_lightgreen:#D4EDDA;
    --skatch_tooltipblack:rgba(0,0,0,0.8);
}

.Skatchcard{
    width:300px;
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "card-button";
    font-family: roboto;
    border-radius: 18px;
    background-color: var(--skatch_white);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    text-align: center;
}

.Skatchcard-image{
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width:100%;
    object-fit: cover;
}

.Skatchcard-text{
    grid-area: text;
    margin: 25px;
}

.Skatchcard-text .Skatchcarddate{
    color : rgb(255,7,110);
    font-size: 13px;
}

.Skatchcard-text p{
    color: var(--skatch_gray);
    font-size: 15px;
    font-weight: 300;
}

.Skatchcard-text h2{
    margin-top: 0px;
    font-size: 28px;
}
