:root{
    --skatch_gray : gray;
    --skatch_black : black;
    --skatch_SnippetsBg:#F8F9FA;
}

*{
    margin:0;
    padding:0;
}


/* Temp */
.outerWrapper{
	margin:5%;
	width: 90%;
    
}
/* Temp */

.componentTitle{
    font-size: xx-large;
    font-weight:bolder;
    color:var(--skatch_black);
}

.componentDescription{
    font-size:large;
}
.componentSubTitle{
    font-size: x-large;
}
.codeSnippets{
    background-color: var(--skatch_SnippetsBg);
    padding:2%;
    display:inline-block;
    border-radius: 2px;
    width:80%;
    overflow-x: auto;
}

img{
    width:80%;
}

.mainContent{
    background-color: var(--skatch_gray);
    width:100%;
    height:100vh;
}

.mainContent div{
    justify-content: center;
    text-align: center;
    margin:20% auto;
    color: var(--skatch_white);
}

.mainContent div a{
    text-decoration: none;
    color: var(--skatch_white);
}