:root{
    --skatch_red:#DC3545;
    --skatch_green:#28A745;
    --skatch_yellow:#FFC107;
    --skatch_blue:#007BFF;
    --skatch_white:#ffffff;
    --skatch_gray:#6C757D;
    --skatch_headerdark:#343A40;
    --skatch_lightgray:#D6D8D9;
    --skatch_black : #000000;
}

.SkatchFooterDark{
    padding:2% 0px;
    width:100%;
    background-color: var(--skatch_headerdark);
    color:var(--skatch_white);
}

.SkatchFooterLight{
    padding:2% 0px;
    width:100%;
    background-color: var(--skatch_lightgray);
    color:var(--skatch_black);
}

.footerTitle{
    font-size: x-large;
}

.footerDescription{
    padding:2% 10%;
    opacity:0.8;
}

.footerTitle,.footerDescription{
    text-align: center;
}

.SkatchFooterLight , .SkatchFooterDark{
    width:100%;
    text-align: center;
}

.SkatchFooterLight i,.SkatchFooterDark i{   
    text-align: center;
    cursor: pointer;
    padding:8px;
    font-size: larger;
}

.SkatchFooterDark i{
    color: var(--skatch_white);
}

.SkatchFooterLight i{
    color: var(--skatch_black);
}

.footerCopyrightSection{
    width:100%;
    text-align: center;
    padding:2% 0px;
    background-color: var(--skatch_black);
    color: var(--skatch_white);
}



/* Second Footer */
.SkatchMenuBasedFooter{
    width:100%;
    padding:2%;
    background-color: #24262b;
    color: #bbbbbb;
        
}

.SkatchMenuBasedFooter:before,
.SkatchMenuBasedFooter:after {
    content: " "; 
    display: table; 
}

.SkatchMenuBasedFooter:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.SkatchMenuBasedFooter {
    *zoom: 1;
}

.InnerSkatchMenuBasedFooter{
    padding:2%;
}

.SkatchMenuBasedFooter .InnerSkatchMenuBasedFooter div{
    float: left;
    width:25%;
}

.SkatchMenuBasedFooter .InnerSkatchMenuBasedFooter div :first-child{
    padding-left:25%;
}

.SkatchMenuBasedFooterTitle{
    color: var(--skatch_white);
    font-weight: bold;
    margin-bottom:30px;
    text-transform: capitalize;
    position:relative;
    margin-top:30px;
}

.SkatchMenuBasedFooterTitle::before{
    content:'';
    position: absolute;
    bottom: -10px;
    background-color: #e91e61;
    height: 3px;
    box-sizing: border-box;
    width:50px;
}

.SkatchMenuBasedFooterTitle ~ ul li{
    list-style: none !important;
    padding-top:6px;
}

.SkatchMenuBasedFooterTitle ~ ul li a{
    text-decoration: none;
    color: #bbbbbb;
    
}

.SkatchMenuBasedFooterTitle ~ ul li :hover{
    color:var(--skatch_white);
}

 .SkatchMenuBasedFooterTitle ~ div a i.fa{
    margin: 2px 0px;
    display: inline-block;
    text-decoration: none;
    color: var(--skatch_white);
    padding:8px !important;
    background-color: rgba(255,255,255,0.2);
    border:1px solid var(--skatch_gray);
    border-radius: 50%;
    }
.SkatchMenuBasedFooterTitle ~ div a i.fa:hover{
    border:1px solid var(--skatch_white);
    background-color: var(--skatch_white);
    color: var(--skatch_gray);
}

@media (max-width:821px){
    .SkatchMenuBasedFooter .InnerSkatchMenuBasedFooter div{
        width: 50%;
    }   
}

@media (max-width:501px){
    .SkatchMenuBasedFooter .InnerSkatchMenuBasedFooter div{
        width: 100%;
    }   
}

.SkatchMenuBasedFooterSocialMediaIcons{
    padding-left:25%;
} 
